.btn {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: theme-color(tertiary);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 3px;
  min-width: 120px;
  width: auto;
  width: fit-content;
  margin-top: 15px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: $dff;
  letter-spacing: 0.7px;
  position: relative;
  transition: all 0.2s ease-in;
  border: 0;
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    color: white;
    background-color: theme-color(primary);
  }
  &:active{
    opacity: 0.8;
  }
}

.btn--outline {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  &:active,
  &:focus,
  &:hover {
    color: white;
    opacity: 0.6;
    background-color: transparent;
  }
}

.btn__wrap {
  display: flex;
  > * {
    margin-right: 16px;
    &:last-child(){
      margin-right: 0;
    }
  }
}
