.class__outer-wrap {
  background-color: $grey;
  @include padding-leader(3);
  @include padding-trailer(2);
}

.class {
  position: relative;
  height: auto;
  background-color: theme-color(dark);
}

.class__info-item {
  background-color: white;
  border-radius: 4px;
  @include padding-leader(2);
  @include padding-trailer(1);
  @include margin-trailer(1);
  @include pad();
  width: 100%;
}


.class__cam-video {
  height: auto;
  width: 100%;
  border: 6px solid $grey;
}

.class__cam-error {
  color: theme-color(secondary);
  font-weight: 600;
}

@include media-breakpoint-up("sm") {
  .class__infos {
    display: flex;
    flex-wrap: wrap;
  }

  .class__info-item {
    @include span(6 of 12);
    margin-right: gutter(12);
    &:nth-child(2n){
      margin-right: 0;
    }
  }
}

@include media-breakpoint-up("md") {

  .class__info-item {
    @include span(5 of 12);
  }

  .class__cam-holder{
    @include span(7 of 12);
  }
}
