.side-nav{
  min-width: 100px;
  max-width: 250px;
  width: 220px;
  min-height: 100vh;
  // margin-top: 55px;
  transition: all 0.3s;
}
.side-nav.active{
    width: 100px;
    font-size: 11px;
  }

.side-nav .fa {
  transition: .3s transform ease-in-out;
}

.side-nav .rotated .fa {
  transform: rotate(-90deg);
}
.navbar-nav li a{
  text-decoration: none;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
// .navbar-nav li:hover{
//   background-color: #222;
//   color: #000;
// }
.navbar-nav li a p{
  margin: 0;
  padding: 10px;
}


@media (max-width: 768px) {

    .side-nav {
      width: 75px;
      font-size: 11px;
    }
    .side-nav.active {
        width: 250px;
        font-size: 18px;
    }
    .navbar-item{
      padding: 0;
    }
}
