.summary-card__outer-warp {
  //background-color: $grey;
  background-color: #e8e8e8;
  @include padding-leader(2);
  @include padding-trailer(2);
  // SMALL MQ
  @include media-breakpoint-up('sm') {
    @include padding-leader(3);
    @include padding-trailer(3);
  }
  // MEDIUM MQ
  @include media-breakpoint-up('md') {
    @include padding-leader(4);
    @include padding-trailer(4);
  }
}

.summary-card__grid {
  display: flex;
  flex-wrap: wrap;

  > * {
    @include span(6 of 12);
    margin-right: gutter(12);

    &:nth-child(2n) {
      margin-right: 0;
    }

    // SMALL MQ
    @include media-breakpoint-up("sm") {
      @include span(4 of 12);

      &:nth-child(2n) {
        margin-right: gutter(12);
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @include media-breakpoint-up("md") {
      @include span(3 of 12);

      &:nth-child(3n) {
        margin-right: gutter(12);
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
    @include media-breakpoint-up("lg") {
      @include span(2 of 12);

      &:nth-child(4n) {
        margin-right: gutter(12);
      }

      &:nth-child(6n) {
        margin-right: 0;
      }
    }
  }
}

.summary-card {
  border-radius: 2px;
  color: #7a7b7c;
  text-decoration: none;
  padding: 10px;
  @include margin-trailer(2);

  > * {
    width: 100%;
  }
}
.summary-card:hover{
  color: #474747;
  text-decoration: none;
}
.summary-card > p{
  padding: 20px;
}

.summary-card__img {
  border-radius: 2px 2px 0 0;
  width: 100%;
  height: 100%;
  @include object-fit(cover, center);
}
.icon-size{
  font-size: 80px;
}
.icon-group:before {
  content: "\e905";
}
.icon-justice:before {
  content: "\e901";
}
.icon-office:before {
  content: "\e903";
}
.icon-heartbeat:before {
  content: "\e907";
}
.icon-money-bag:before {
  content: "\e902";
}

//added new for card

        .card-box {
            background: #FAFAFA;
            min-height: 300px;
            position: relative;
            padding: 30px 30px 20px;
            position: relative;
            cursor: pointer;
            height: 100%;
            margin-bottom: 24px;
        }

        .card-box:hover {
            background: linear-gradient(to right, #1fa2ff17 0%, #12d8fa2b 51%, #1fa2ff36 100%);
        }

        .card-box:after {
            display: block;
            background: #2196F3;
            border-top: 2px solid #2196F3;
            content: '';
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
        }

        .card-title h2 {
            margin: 0;
            padding-top: 5%;
            color: #2196F3;
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            font-size: 24px;
            line-height: 1;
            margin-bottom: 15px;
        }

        .card-title p {
            margin: 0;
            margin-bottom: 20px;
            font-size: 16px;

        }

        .card-link a {
            text-decoration: none;
            font-family: 'Oswald', sans-serif;
            color: #FF5722;
            font-size: 15px;
        }
