.table {
  border-collapse: separate;
  background:#fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);

  thead {
    border-radius: 5px;
  }

  thead th {
    font-family: 'Patua One', cursive;
    font-size:16px;
    font-weight:400;
    color:#fff;
    text-align:left;
    padding:20px;
    border-top:1px solid #858d99;

  }

  tbody tr td {
    font-family: $dff, sans-serif;
    font-weight:400;
    color: theme-color(dark);
    font-size:13px;
    padding: 5px;
    border-bottom:1px solid #e0e0e0;
    // SMALL MQ
    @include media-breakpoint-up("sm") {
      padding: 15px;
    }

  }

  tbody tr:last-child td {
    border-bottom:none;
  }
}
