@font-face {
  font-family: 'icons';
  src:
    url('fonts/icons.ttf?jvhcis') format('truetype'),
    url('fonts/icons.woff?jvhcis') format('woff'),
    url('fonts/icons.svg?jvhcis#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-justice:before {
  content: "\e901";
}
.icon-balance:before {
  content: "\e901";
}
.icon-equality:before {
  content: "\e901";
}
.icon-court:before {
  content: "\e901";
}
.icon-money-bag:before {
  content: "\e902";
}
.icon-sack-dollar:before {
  content: "\e902";
}
.icon-bag:before {
  content: "\e902";
}
.icon-facebook-with-circle:before {
  content: "\e900";
}
.icon-download:before {
  content: "\e960";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-office:before {
  content: "\e903";
}
.icon-pagelines:before {
  content: "\e904";
}
.icon-group:before {
  content: "\e905";
}
.icon-users:before {
  content: "\e905";
}
.icon-credit-card:before {
  content: "\e906";
}
.icon-heartbeat:before {
  content: "\e907";
}
