@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?jvhcis') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?jvhcis') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?jvhcis##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-justice {
  &:before {
    content: $icon-justice; 
  }
}
.icon-balance {
  &:before {
    content: $icon-balance; 
  }
}
.icon-equality {
  &:before {
    content: $icon-equality; 
  }
}
.icon-court {
  &:before {
    content: $icon-court; 
  }
}
.icon-money-bag {
  &:before {
    content: $icon-money-bag; 
  }
}
.icon-sack-dollar {
  &:before {
    content: $icon-sack-dollar; 
  }
}
.icon-bag {
  &:before {
    content: $icon-bag; 
  }
}
.icon-facebook-with-circle {
  &:before {
    content: $icon-facebook-with-circle; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-link {
  &:before {
    content: $icon-link; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-office {
  &:before {
    content: $icon-office; 
  }
}
.icon-pagelines {
  &:before {
    content: $icon-pagelines; 
  }
}
.icon-group {
  &:before {
    content: $icon-group; 
  }
}
.icon-users {
  &:before {
    content: $icon-users; 
  }
}
.icon-credit-card {
  &:before {
    content: $icon-credit-card; 
  }
}
.icon-heartbeat {
  &:before {
    content: $icon-heartbeat; 
  }
}

