$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-justice: "\e901";
$icon-balance: "\e901";
$icon-equality: "\e901";
$icon-court: "\e901";
$icon-money-bag: "\e902";
$icon-sack-dollar: "\e902";
$icon-bag: "\e902";
$icon-facebook-with-circle: "\e900";
$icon-download: "\e960";
$icon-link: "\e9cb";
$icon-youtube: "\ea9d";
$icon-linkedin: "\eac9";
$icon-office: "\e903";
$icon-pagelines: "\e904";
$icon-group: "\e905";
$icon-users: "\e905";
$icon-credit-card: "\e906";
$icon-heartbeat: "\e907";

