//enable grid or disable it
$visual-grid :  false;

//project colors
$black: #333333;
$blue: #294A77;
$teal: #2C3E50;
$blue--lighter: #295879;
$fresh: #557837; //blue on top for accessiblity
$red: #a5283B;
$gold: #D9B310; //blue on top for accessiblity
$grey: #2e3738;
$pink: #723146;
$grey-lighter: #bbbbbb;

//map for most-commonly used colors
$theme-colors: (
  "primary":    $blue,
  "secondary":  $teal,
  "tertiary":   $blue--lighter,
  "success":    green,
  "info":       skyblue,
  "warning":    yellow,
  "danger":     $red,
  "light":      white,
  "dark":       $black
);


@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,700i|Open+Sans:400,400i,600,700');
$heading-font-family: 'open sans';
$default-font-family: 'roboto';
$hff: $heading-font-family;
$dff: $default-font-family;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;


// Grid containers
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

//grid size span and gutter defaults
$_susy-defaults: (
  'columns': susy-repeat(4),
  'gutters': 0.75,
  'spread': 'narrow',
  'container-spread': 'narrow',
);
